<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctions-x22k6sgih7jti.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f24aed69-060c-4177-a8a0-df575f75018f/resourceGroups/hands-on-lab-R8EK02KL7Q/providers/Microsoft.Web/sites/TollBoothFunctions-x22k6sgih7jti</ResourceId>
    <UserName>$TollBoothFunctions-x22k6sgih7jti</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://tollboothfunctions-x22k6sgih7jti.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>